.c{
    color: palevioletred;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button {
    background-color: palevioletred;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border-radius: 20px;
    padding: 20px;
    border: none;
    cursor: pointer;
    // margin-top: 10%;
}