<p class="a">add new course:</p>

<form #f="ngForm" class="form">
    <div>
        <label class="label" for="courseName">Course Name:</label> 
        <input class="input" #n  min="4" maxlength="20" [required]="true"  name="courseName" type="text" [(ngModel)]="coursData.name"  [ngClass]="validateField('courseName')">
    </div>
    <div>
        <label class="label" for="courseHours">Num of Hours:</label>
        <input class="input" name="courseHours" type="number" [(ngModel)]="coursData.hours" min="1" max="200" required="true" [ngClass]="validateField('courseHours')">
        </div> 
    <div>
        <label class="label"  for="courseType">Course Type:</label>
        <select class="input" name="courseType" [(ngModel)]="coursData.type" [ngClass]="validateField('courseType')"  required="true">
            <option value="frontal">frontal</option>
            <option value="maabada">maabada</option>
            <option value="fromHome">fromHome</option>
        </select>
    </div>
    <div>
        <label class="label"  for="courseDate">Course Date:</label>
        <input class="input" [required]="true" name="courseDate" type="text" [(ngModel)]="coursData.date" [ngClass]="validateField('courseDate') ">
    </div>
    <button class="button" type="submit" (click)="save()">Save</button>
</form>
